# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
env/

# Editor/IDE-specific files
*.swp
.idea/
.vscode/

# Logs and databases
*.log
*.sqlite3

# Test results
coverage/
*.cover
*.py,cover

# Environment variables
.env